# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
# *.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
# *.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

bin/*
obj/*
dev/Game.suo
dev/Debug/Game.exe.embed.manifest
dev/Game.vcproj.IDEV.StBoland.user
dev/Game.ncb
dev/Debug/mt.dep
dev/Debug/Game.exe.intermediate.manifest
dev/Debug/Game.exe.embed.manifest.res
dev/Debug/Game.exe
dev/Debug/BuildLog.htm
